.bg{
	background-image: url(Images/pexels-photo-24289.jpg);
	background-size: cover;
	height: 768px;
	margin: -8px;
	border-bottom:  5px solid #32CD32;
}
.header{
	margin: 0 auto;
	width: 250px;
	height: 80px;
}
.header h1{
	font-family: Georgia;
	text-transform: uppercase;
	margin: 0px;
}
.header h4{
	font-family: Arial;
	margin-left: 0px;
	opacity: 0.5;
	width: 300px;
	margin-top: 5px;
}
.menu{
	border-bottom:  3px solid #32CD32;
	border-top:   3px solid #32CD32;
	height: 60px;
	margin-bottom: : 10px;
}	
ul{
	list-style-type: none;
	padding-left: 0px;
	margin-top: 10px;
}
li{
	float: left;
	background-color: #32CD32;
	width:15%;
	margin-left: 15px;
	height: 35px;
	text-transform: uppercase;
	text-align: center;	
	opacity: 0.9;
	border-radius: 10px;
	border: 2px solid forestgreen;
	color: #fff;
}
li:hover{
	background-color: #00FF00;
	float: left;
}
#first{
	margin-left: 9%;
}
.sites{
	width: 100%;
	height: 100%;
}
.sitescaption{
	margin-left: 0px;
	height: 50px;
	margin-top: 25px;
	text-transform: uppercase;
	font-family: Georgia;
	border-bottom:  5px solid #32CD32;
	text-align: center;
}
.sites div{
	float: left;
	margin-left: 70px;
	margin-top: 35px;
	margin-bottom: 50px;
	height: 300px;
	width: 350px;
	padding-top: 25px;
	color: black;
}
.sites div:hover{
	background-color: rgba(50,205,50,0.7);
}
.sites h2{
	font-family: Georgia;
	text-align: center;
	position: relative;
	left: 0px;
}
.sites p{
	text-align: center;
	font-family: Arial;
	position: relative;
	left: 0px;
}
.firstsite{
	margin-left: 50px;
}
.sites img{
	margin-left: 25px;
}
.videos{
	float: left;
	margin-left: 0px;
	margin-top: -35px;
	width: 100%;
	height: 100%;
	padding-top: 25px;
	color: black;
	
}
.videocaption{
	border-top:   5px solid #32CD32;
	border-bottom:  5px solid #32CD32;
	padding-top: 20px;
	height: 50px;	
	text-align: center;
	text-transform: uppercase;
	font-family: Georgia;
}
.videos div{
	float: left;
	margin-left: 70px;
	margin-top: 20px;
	margin-bottom: 50px;
	height: 300px;
	width: 350px;
	padding-top: 25px;
	color: black;
	text-align: center;
}
.videos div:hover{
	background-color: rgba(50,205,50,0.7);
}
.videos h2{
	font-family: Georgia;
	text-align: center;
	position: relative;
	left: 0px;
}
.Achiv{
	float: left;
	margin-left: 0px;
	margin-top: -45px;
	width: 100%;
	height: 100%;
	padding-top: 25px;
	color: black;
}
.achivcaption{
	border-top:   5px solid #32CD32;
	border-bottom:  5px solid #32CD32;
	padding-top: 20px;
	height: 50px;	
	text-align: center;
	text-transform: uppercase;
	font-family: Georgia;
}
.maintable{
	margin: 0px auto;
	width: 800px;
	height: 600px;
	border: 3px solid forestgreen;
	padding: 0px 0px;
}
caption{
	text-align: center;
	text-transform: uppercase;
	font-family: Georgia;
	margin-top: 50px;
	margin-bottom: 40px;
	font-size: 25px;
}
.tests{
	text-align: center;
	text-transform: uppercase;
	font-family: Georgia;
	font-size: 25px; 
	width: 100%;
	height: 50px;
	background-color: rgba(50,205,50,0.7);
}
.exam{
	text-transform: uppercase;
	font-family: Georgia;
	font-size: 25px;
	height: 50px;
	width: 50%;
	border-top: 2px dashed green;
	border-right:  2px dashed green;
	padding-top: -15px;
	background-color: rgba(0,255,0,0.7);
}
.progress{
	border: 3px solid forestgreen;
	width: 100%;
	height: 50px;
}