body{
	background-color: bisque;
}
.bg{
	background-image: url(Images/pexels-photo-24289.jpg);
	background-size: cover;
	height: 768px;
	margin: -8px;
	border-bottom:  5px solid #50c878;
}
.header{
	margin: 0 auto;
	width: 250px;
	height: 80px;
}
.header h1{
	font-family: Georgia;
	text-transform: uppercase;
	margin: 0px;
}
.leftcorner{
	float: left;
	background-color: #50c878;
	height: 1650px;
	width: 8%;
	margin-left: -10px;
	margin-top: 3px;
}
.rightcorner{
	float: right;
	background-color: #50c878;
	height: 1650px;
	width: 8%;
	margin-right:-10px;
	margin-top: 3px;
}
.content{
	width: 86%;
	margin: 0 auto;
}
.header h4{
	font-family: Arial;
	margin-left: 24px;
	opacity: 0.5;
	width: 300px;
	margin-top: 5px;
}
.menu{
	border-bottom:  3px solid #50c878;
	border-top:   3px solid #50c878;
	height: 60px;
	margin-bottom: : 10px;
}	
ul{
	list-style-type: none;
	padding-left: 0px;
	margin-top: 10px;
}
li{
	float: left;
	background-color: #50c878;
	width:15%;
	margin-left: 15px;
	height: 35px;
	text-transform: uppercase;
	text-align: center;	
	opacity: 0.9;
	border-radius: 10px;
	border: 2px solid forestgreen;
	color: #fff;
}
li:hover{
	background-color: rgba(80,200,120,0.5);
	float: left;
}
#first{
	margin-left: 9%;
}
.sites{
	width: 100%;
	height: 100%;
}
.sitescaption{
	margin-left: 0px;
	height: 25px;
	margin-top: 8px;
	text-transform: uppercase;
	font-family: Georgia;
	border-bottom:  5px solid #50c878;
	text-align: center;
	background-color: #50c878;
	color: #FFEBCD;
	vertical-align: center;

}
.sites div{
	float: left;
	margin-left: 19px;
	margin-top: 35px;
	margin-bottom: 50px;
	height: 300px;
	width: 350px;
	padding-top: 25px;
	color: black;
	border: 3px dashed #50c878;

}
.sites div:hover{
	background-color: rgba(80,200,120,0.5);
}
.sites h2{
	font-family: Georgia;
	text-align: center;
	position: relative;
	left: 0px;
}
.sites p{
	text-align: center;
	font-family: Arial;
	position: relative;
	left: 0px;
}
.firstsite{
	margin-left: 25px;
}
.sites img{
	margin-left: 25px;
}
.videos{
	float: left;
	margin-left: 0px;
	margin-top: -107%;
	width: 100%;
	height: 100%;
	padding-top: 25px;
	color: black;
	
}
.videocaption{
	border-top:   5px solid #50c878;
	border-bottom:  5px solid #50c878;
	height: 25px;	
	text-align: center;
	text-transform: uppercase;
	font-family: Georgia;
	background-color: #50c878;
	color: #FFEBCD;
	vertical-align: center;
}
.videos div{
	float: left;
	margin-left: 19px;
	margin-top: 20px;
	margin-bottom: 50px;
	height: 300px;
	width: 350px;
	padding-top: 25px;
	color: black;
	text-align: center;
	border: 3px dashed #50c878;
}
.videos div:hover{
	background-color: rgba(80,200,120,0.5);	
}
.videos h2{
	font-family: Georgia;
	text-align: center;
	position: relative;
	left: 0px;
}
.Achiv{
	float: left;
	margin-left: 0px;
	margin-top: -66%;
	width: 100%;
	height: 100%;
	padding-top: 25px;
	color: black;
}
.achivcaption{
	border-top:   5px solid #50c878;
	border-bottom:  5px solid #50c878;
	height: 25px;	
	text-align: center;
	text-transform: uppercase;
	font-family: Georgia;
	background-color: #50c878;
	color: #FFEBCD;
}
.maintable{
	margin: 0px auto;
	width: 800px;
	height: 400px;
	border: 3px solid #50c878;
	padding: 0px 0px;
}
caption{
	text-align: center;
	text-transform: uppercase;
	font-family: Georgia;
	margin-top: 50px;
	margin-bottom: 40px;
	font-size: 25px;
	border: 3px solid #50c878;
	color: #50c878;
}
table .tests{
	text-align: center;
	text-transform: uppercase;
	font-family: Georgia;
	font-size: 25px; 
	width: 100%;
	height: 50px;
	background-color: #50c878;
	color: white;

}
.exam{
	text-transform: uppercase;
	font-family: Georgia;
	font-size: 25px;
	height: 50px;
	width: 50%;
	padding-top: 0px;
	border: 3px solid #50c878;
	color: #50c878;
	text-align: center;
}
.exam_pos{
		margin-top: : 40px;
}
.progress{
	border: 3px solid #50c878;
	color: #50c878;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	font-family: Georgia;
	font-size: 25px;
	height: 50px;
	width: 100%;
	height: 50px;
	margin-top: 0px;
}
.praktikum{
	text-align: center;
	text-transform: uppercase;
	font-family: Georgia;
	font-size: 25px; 
	width: 100%;
	height: 50px;
	background-color: #50c878;
	color: white;
}
.trys{
	text-transform: uppercase;
	font-family: Georgia;
	font-size: 25px;
	height: 50px;
	width: 50%;
	padding-top: 0px;
	border: 3px solid #50c878;
	color: #50c878;
	text-align: center;
}